/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.wrapper {
    padding: 50px 0;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*--------------------------------------------------------------------------------------*/
/*---------------------------------------Header-----------------------------------------*/
/*--------------------------------------------------------------------------------------*/

header {
    width: 100vw;
    height: 50px;
    margin-top: -50px;
    border-bottom: 1px #f0f0f0 solid;
}

header nav {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

header nav section {
    flex: 1 1 400px;
}

#chalceias {
    font-family: "Droid Sans", sans-serif;
    text-decoration: none;
    color: #0d3b69;
    font-size: 25px;

}

#topics {
    text-align: center;
    font-size: 15px;
    font-family: "Droid Sans", sans-serif;
}

#searchBoxContainer {
    display: block;
    vertical-align: middle;
}

#searchBox {
    font-size: 20px;
    float: right;
    border: none;
}

#searchBox:focus {
    outline: none;
}

/*--------------------------------------------------------------------------------------*/
/*-----------------------------------------Sidebar--------------------------------------*/
/*--------------------------------------------------------------------------------------*/

#sideBar {
    background: rgb(232, 232, 232);
    height:100%;
    width: 20vw;;
}

/*--------------------------------------------------------------------------------------*/
/*--------------------------------------Tutorial Area-----------------------------------*/
/*--------------------------------------------------------------------------------------*/


#container {
    font-family: "Droid Sans", sans-serif;
    height:100%;
    display: flex;
    flex-direction: row;
}

#hi {
    width: 80vw;
    padding-top: 100px;
    font-size: 60px;
    text-align: center;
}

/*--------------------------------------------------------------------------------------*/
/*------------------------------------------Footer--------------------------------------*/
/*--------------------------------------------------------------------------------------*/

footer {
    width: 100vw;
    border-top: 1px #f0f0f0 solid;
    height: 48px;
    margin-bottom: -50px;
}