/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.wrapper {
    padding: 50px 0;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*--------------------------------------------------------------------------------------*/
/*---------------------------------------Header-----------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.wrapper > header {
    width: 100vw;
    height: 50px;
    margin-top: -50px;
    border-bottom: 1px #f0f0f0 solid;
    font-family: "Droid Sans", sans-serif;
}

.wrapper > header > nav {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.wrapper > header > nav > section {
    flex: 1 1;
}

#calcvision {
    text-decoration: none;
    color: #0d4f86;
    font-size: 25px;

}

#topics {
    text-align: center;
}

#topicsBtn {
    background-color: white;
    color: black;
    font-size: 15px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border: none;
    font-family: "Droid Sans", sans-serif;
}

#topicsBtn:hover {
    background-color: #f3f3f3;
    color: #006596;
    outline:none;
}
#topicsBtn:focus {
    outline:none;
}

#topicsContainer {
    position: absolute;
    border-top: 1px #d3d5d7 solid ;
    border-bottom: 1px #d3d5d7 solid ;
    width: 100vw;
    background-color: #f3f3f3;
    left: 0;
    display: none;
    z-index: 10;

}

#topicsContainer.show {
    display: block;

}

#topicsContainer ul, #topicsContainer li {
    list-style: none;
}

#topicsContainer > ul {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 32px 20px 20px 22px;
}

#topicsContainer > ul > li {
    flex-grow:1;
    text-align: center;
    margin-bottom: 26px !important;
}

#topicsContainer header {
    color: #007d96;
    font-family:inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}

#topicsContainer ul li ul a {
    color: #007d96 !important;
    font-family: inherit !important;
    font-size: 15px !important;
    line-height: 2.5 !important;
    text-decoration: none !important;
    display: inline-block !important;
    width: 100% !important;
}

#topicsContainer ul li ul a:hover {
    color: #00b5dc !important;
    text-decoration: underline;
}

#differentialCalc, #integralCalc {
    border-right: 1px #d3d5d7 solid ;
}

#searchBoxContainer {
    display: block;
    vertical-align: middle;
}

#searchBtn {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #4884a0;
    cursor: pointer;
}

#searchBtn:focus {
    outline: none;
}

#searchBox {
    font-size: 18px;
    float: right;
    border: none;
    width: 200px;
    background-color: transparent;
    padding-left: 5px;
    color: #4884a0;
}

#searchBox::-webkit-input-placeholder {
    color: #8bb5d1;
}

#searchBox:-moz-placeholder { /* Firefox 18- */
    color: #417992;
}

#searchBox::-moz-placeholder {  /* Firefox 19+ */
    color: #417992;
}

#searchBox:-ms-input-placeholder {
    color: #417992;
}

#searchBox:focus {
    outline: none;
}

/*--------------------------------------------------------------------------------------*/
/*-----------------------------------------Sidebar--------------------------------------*/
/*--------------------------------------------------------------------------------------*/

#shade {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 2;
}

#sideBar {
    position: absolute;
    left: 0;
    background-color: #ededed;
    height: calc(100vh - 100px);
    width: 400px;
    overflow: auto;
    z-index: 5;

}

#sideBarTitle {
    padding: 40px 20px 30px 20px;
    font-size: 30px;
    color: #235270;
}

#sideBarDescription {
    padding: 0 40px 0 20px;
    margin-bottom: 20px;
    font-size: .9rem;
}

#sideBarTopics {
    border-top: 1px solid #d5d5d5;
}

#sideBarTopics > div {
    padding: 0 20px;
    font-size: .9rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

#sideBarTopics a {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 2.5rem;
    text-decoration: none;
    color: black;

}

#sideBarTopics a span:first-child {
    padding-right: 8px;
}

#sideBarTopics i {
}

#sideBarTopics a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sideBarTopics a.active {
    background-color: rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------------------------------------------*/
/*--------------------------------------Tutorial Area-----------------------------------*/
/*--------------------------------------------------------------------------------------*/

#container {
    font-family: "Droid Sans", sans-serif;
    height:100%;
    display: flex;
    flex-direction: row;
}

#tutorial {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0 10vw;
}

#left {
    background-color: red;
    position: absolute;
    top: 51px;
    left: 0;
    bottom: 49px;
    right: 50%;
    z-index: 1;

}

#resizeBar {
    position: absolute;
    width:4px;
    top: 51px;
    right: 50%;
    bottom: 49px;
    background-color: purple;
    cursor: ew-resize;
    z-index: 2;
}

#right {
    background-color: blue;
    position: absolute;
    top: 51px;
    left: 50%;
    bottom: 49px;
    right: 0;
    z-index: 1;

}

/*--------------------------------------------------------------------------------------*/
/*------------------------------------------Footer--------------------------------------*/
/*--------------------------------------------------------------------------------------*/

footer {
    width: 100vw;
    border-top: 1px #f0f0f0 solid;
    height: 48px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
}

footer > section {
    flex: 1 1;

}

#menu {
    float: left;
    font-family: "Droid Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

#menu a {
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #0d4f86;

}

#menu a:hover {
    color: #1582de;
}

#menuBtn {
    padding: 0 20px;

}

#movement {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

#movement button {
    height: 48px;
    width: 48px;
    background: transparent;
    color: #0d4f86;
    border: none;
    cursor: pointer;
}

#movement button:focus {
    outline: none;
}

#movement button:hover {
    color: #1582de;
}

#movement div {
    font-family: "Droid Sans", sans-serif;
    font-size: 20px;
}

#resources {
    float: right;
    font-family: "Droid Sans", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#resources > a {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #0d4f86;
    width: auto;

}

#resources a:hover {
    color: #1582de;
}

#resIcon {
    padding: 0 20px;
    margin-top: 3px;
}


#resContainer {
    position: absolute;
    display: none;
    width: 300px;
    height: auto;
    background-color: #f3f3f3;
    right: 0;
    bottom: 49px;
    z-index: 10;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;

}

#resContainer.show {
    display: block;
}

#resContainer a {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
}

#resContainer a:hover {
    background-color: #e1e1e1;
}